extends layout

block content
	script(src="/javascripts/app.js")
	#app(ng-controller="panelCtrl")
		.row
			.span8
				form.form-horizontal
					.control-group
						.control-label url
						.controls
							input(type="text", name="url", required, id="url", ng-model="url").form-control
					.control-group
						.control-label viewport
						.controls.controls-row
							input(type="number", ng-model="viewport.width").input-small
							input(type="number", ng-model="viewport.height").input-small
					.control-group
						.control-label offset
						.controls.controls-row
							input(type="number", ng-model="offset.top").input-small
							input(type="number", ng-model="offset.left").input-small
					.control-group
						.control-label size
						.controls.controls-row
							input(type="number", ng-model="size.width").input-small
							input(type="number", ng-model="siz.eheight").input-small
					.control-group
						.control-label selector
						.controls.controls-row
							input(type="text", ng-model="selector").form-control
					.control-group
						.control-label ua
						.controls.controls-row
							.btn-group
								button.btn.btn-primary(ng-model="ua" btn-radio="'desktop'") desktop
								button.btn.btn-primary(ng-model='ua' btn-radio="'mobile'") mobile
					.control-group
						.controls
							button.btn(type="submit",ng-click="clip()") Clip!
			.span4(ng-show="image")
				img(ng-src="{{image}}")	