doctype 5
html(ng-app="Edward")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/ui-bootstrap-custom.js')
  body
    .navbar.navbar-fixed-top: .navbar-inner: .container
      a.brand(href="/").
        Edward
    block content