#app {
  width: 900px;
  padding-top: 75px;
  margin: 0 auto;
}
#app .settings {
  margin-top: 20px;
}
#app .settings .input-small {
  margin-right: 10px;
}
#app .img-tray {
  text-align: center;
  height: 400px;
  overflow: auto;
  position: relative;
}
#app .img-tray .loading {
  display: block;
  position: absolute;
  top: 120px;
  left: 150px;
}
